* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* body {
    background: #f1f1f1;
}

.mothership {
    max-width: 900px;
    margin: 0 auto;
} */


/* header {
    background: #333;
    padding: 20px;
    transition: 0.5s;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
} */


/* header a {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-decoration: none;
} */


/* header.js-is-sticky {
    background: rgba(0, 0, 0, 0.5);
} */

.wrapper {
    display: flex;
}

.container section {
    width: 75%;
    padding: 0 35px;
    margin: 15px 0;
}

.container aside {
    width: 25%;
    margin: 35px 0;
}

.container aside .signup {
    padding: 5px 0;
    position: sticky;
    -webkit-position: sticky;
    top: 0;
}

footer {
    height: 1800px;
    background: #ccc;
}