@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: #f0f2f5;
    text-shadow: 0 0 0.01rem rgba(0, 0, 0, .5);
    -webkit-font-smoothing: antialiased;
}

kbd {
    background: #eee;
    padding: 2px 6px 3px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    position: relative;
    top: -1px;
}

@media (max-width:575.98px) {
    .bd-toc {
        display: none;
    }
}

@media (min-width: 767.98px) {
    .bd-main {
        grid-template-areas: "intro intro""content toc";
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto 1fr;
    }
}


/* chroma */

.chroma .cp {
    color: #008085;
}

.chroma .nt {
    color: #2f6f9f;
}

.chroma .na {
    color: #006ee0;
}

.chroma .s {
    color: #d73038;
}