/* code */

.chroma .na {
    color: darkgray;
    font-weight: 300;
}

.chroma .cp {
    color: #999;
    font-weight: 300;
}

.chroma .nt {
    color: darkblue;
    font-weight: 300;
}

.highlight pre code {
    color: black;
    font-weight: normal;
}

.highlight {
    padding: 1rem;
    /* margin-bottom: 0; */
}

@media (max-width:575.98px) {
    .bd-toc {
        display: none;
    }
}

@media (min-width: 767.98px) {
    .bd-main {
        grid-template-areas: "intro intro""content toc";
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto 1fr;
    }
}