@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    text-shadow: 0 0 0.01rem rgba(0, 0, 0, .5);
    -webkit-font-smoothing: antialiased;
}


/* tag-code */

.chroma .na {
    color: darkgray;
    font-weight: 300;
}

.chroma .cp {
    color: #999;
    font-weight: 300;
}

.chroma .nt {
    color: darkblue;
    font-weight: 300;
}


/* copy */

.cpy {
    position: relative;
    display: none;
    float: right;
}

@media (min-width: 768px) {
    .cpy {
        display: block;
    }
}


/* code-view */

.cv {
    padding: 1.25rem 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: 1px solid deepskyblue;
    /* border-left: 1px solid #e9ecef; */
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    background-color: #fff;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem !important;
}

.cv-warning {
    border-left-color: #f0ad4e;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem !important;
    background-color: #fff;
    border-left-width: 0.25rem;
}

.cv-info {
    border-left-color: #5bc0de;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem !important;
    background-color: #fff;
    border-left-width: 0.25rem;
}

.cv-danger {
    border-left-color: #d9534f;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem !important;
    background-color: #fff;
    border-left-width: 0.25rem;
}

kbd {
    background: #eee;
    padding: 2px 6px 3px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    position: relative;
    top: -1px;
}

@media (max-width:575.98px) {
    .bd-toc {
        display: none;
    }
}

@media (min-width: 767.98px) {
    .bd-main {
        grid-template-areas: "intro intro""content toc";
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto 1fr;
    }
}