/* skel-baseline v2.0.3 | (c) n33 | getskel.com | MIT licensed */
/* Basic */

html, body {
  	min-width: 320px;
	overflow-y: visible;
  	overflow-x: hidden;
}

body img {
  	max-width: 100%;
	height: auto;
}

.invmob {
	display: none;
}

.vismob {
	display: inline;
}

.breakmob {
	word-break: break-all;
}

.code {
	word-break: break-all;
}

.post .entry .adsections {
	padding-bottom:10px;
}

table.gridtable {
	word-break: break-all;
}

table.fraction {
	word-break: break-all;
}